#main{
    margin-left: 20rem;
    top: 0;
    position: absolute;
}
#valores{
    font-weight: bold;
    font-style: italic;
}
.animacaopica:hover{
    background-color: rgb(81, 81, 81);
    animation: normal 1s;
}